/** Flashcards.css */

.flashcard {
    border: 1px solid brown;
    background-color: beige;
    box-shadow: 3px 3px 8px 1px black;
    padding: 2em;
    margin:2em;
    width: 23em;
}

.flashcard .question {
    text-align: center;
    margin: 0 0 20px;
}

.answer,.wrong-answer {
    font-weight: bold;
}

.rightAnswer {
    border: 3px solid green;
    padding: 5px;
    margin: 5px;
    text-align: center;;
    background-color: #cfc;
}

.wrongAnswer {
    border: 3px solid red;
    padding: 5px;
    margin: 5px;
    text-align: center;;
    background-color: #fcc;
}

.flashcard .question div {
    font-size: 35px;
    font-weight: bold;
    display: inline;
    padding: 10px;
}

.flashcard .question input {
    font-size: 35px;
    width: 3em;
}